/* =========================================
MOBILE & TABLET OVERRIDES
========================================= */

@media (max-width: 899px) {

    .main-header {
        padding: 0 1rem;
    }

    .main-nav ul {
        gap: 1rem;
    }

    .hero {
        padding: .5rem 1rem;
        align-items: flex-start;
    }

    .hero-overlay {
        max-width: 600px;
    }

    .hero h2 {
        font-size: 1.8rem;
    }

    .search-summary {
        margin-top: 1.2rem;

        flex-direction: column;
        align-items: stretch;

        gap: 1rem;
    }

    #searchForm {
        flex-direction: column;
        align-items: stretch;
    }

    .grid {
        grid-template-columns: 1fr;

        gap: 2rem;

        padding: 0 1rem 2rem;
    }

    .card img {
        width: 100%;
        height: 210px;
    }

    .summary-content {
        flex-direction: column;
    }

    .destination-summary,
    .accommodation-summary,
    .total-summary {
        flex: 1 1 100%;
    }

    .modal-content {
        width: 95%;
        padding: 1.5rem;
    }

}
