/* DIRECTORY-MEDIUM.CSS */

@media (min-width: 600px) and (max-width: 767px) {

  .discover-grid {
    grid-template-areas:
      "sidebar"
      "gallery";
  }

  .gallery {
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
  }
}