@media (min-width: 768px) {

    .navigation {
        padding: 1rem 3rem;
    }

    /* Keep hamburger visible on desktop */
    .navigation button {
        display: block;
        font-size: 2rem;
    }

    /* Menu stays hidden until hamburger is clicked */
    .navigation ul {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        background-color: #0f172a;

        display: none;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 1rem 0;
    }

    /* Open state still controlled by JS */
    .navigation ul.open {
        display: flex;
    }
}